#GP(EXCEPTION)

#GI(JAVA_IO, "Serial")

public class FieldNotFoundException extends #GC(APP_EXCEPTION) {
	@Serial
    private static final long serialVersionUID = 1L;

	public FieldNotFoundException(String message) {
        super(message);
    }
}
